$dark: #013d83;
$white: #fff;
$black: #000;

.coaches__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    > button {
        margin-right: 35px;
    }
    > button:last-child {
        margin-right: 0;
    }
}

.coaches__button {
    font-size: 26px;
    font-weight: 500;
    color: $black;
    padding: 8px 28px;
    border-radius: 16px;
    border: 2px solid $black;
    background: transparent;
    &.active {
        color: $white;
        border: 2px solid $dark;
        background: $dark;
    }
}
//-----media-query----------------
@media (max-width: 1800px) {
    .coaches__buttons > button {
        margin-right: 32px;
    }
}
//-------------------------------
@media (max-width: 1680px) {
    .coaches__buttons > button {
        margin-right: 29px;
    }
}
//-------------------------------
@media (max-width: 1560px) {
    .coaches__buttons > button {
        margin-right: 26px;
    }
}
//-------------------------------
@media (max-width: 1440px) {
    .coaches__buttons > button {
        margin-right: 24px;
    }
    .coaches__button {
        border-radius: 12px;
    }
}
//-----mobile-version----------
@media (max-width: 767px) {
    .coaches__buttons {
        margin-bottom: 36px;
        > button {
            height: 74px;
            margin-right: 36px;
        }
    }
    .coaches__button {
        font-size: 28px;
        padding: 16px 20px;
        border-radius: 16px;
        border: 1px solid $black;
        &.active {
            border: 1px solid $dark;
        }
    }
}
//-------------------------------
@media (max-width: 600px) {
    .coaches__buttons {
        margin-bottom: 28px;
        > button {
            height: 55px;
            margin-right: 24px;
        }
    }
    .coaches__button {
        font-size: 20px;
        padding: 8px 20px;
        border-radius: 12px;
        border: 1px solid $black;
        &.active {
            border: 1px solid $dark;
        }
    }
}
//-------------------------------
@media (max-width: 425px) {
    .coaches__buttons {
        margin-bottom: 20px;
        > button {
            height: 37px;
            margin-right: 12px;
        }
    }
    .coaches__button {
        font-size: 14px;
        padding: 8px 14px;
        border-radius: 8px;
        border: 1px solid $black;
        &.active {
            border: 1px solid $dark;
        }
    }
}
