#trainingZones{
    .trainingZones{
        position: relative;
        &--zgolok{
            color: var(--Color-Secondary, #F7B512);
            font-family: Montserrat;
            font-size: 80px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-align: center; 
        }
        &--blocks{
            margin-top: 80px;
            display: flex;
            align-items: center;
            gap: 52px;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .blockk{
            display: flex;
            flex-direction: column  ;
            // padding: 18px 0px;  
            justify-content: center;
            background: #FFFFFF;
            
            border-radius: 15px;
            img{
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                
            }
           &--content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            &__text{
                h1{
                    color: #393939;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
                }
                p{
                    color: #393939;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 227px;
                }
            }
             button{
                display: flex;
padding: 16px 22px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 16px;
background: var(--Color-Secondary, #F7B512);
color: #FFF;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
cursor: pointer;
border: none;
outline: none;
            }
           }
        }
        .modalWindow{
            position: fixed;
            top: 160px;
            // left: 75vh;
            transition: 2s;
            z-index: 99;
        }
    }
}