.coaches-swiper-container {
    margin-right: 36px;
}
//-------------------------
@media (max-width: 1800px) {
    .coaches-swiper-container {
        margin-right: 33px;
    }
    .swiper-slide {
        margin-right: 33px;
    }
}
//-------------------------
@media (max-width: 1680px) {
    .coaches-swiper-container {
        margin-right: 30px;
    }
}
//-------------------------
@media (max-width: 1560px) {
    .coaches-swiper-container {
        margin-right: 27px;
    }
}
//-------------------------
@media (max-width: 1440px) {
    .coaches-swiper-container {
        margin-right: 24px;
    }
}
