@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.form-faq{
    margin-left: 50px;
    cursor: default;
    &__title{
        font-family: Montserrat;
        font-size: 44px;
        font-weight: 700;
        line-height: 52.8px;
        color: #000000;
        margin-left: 50px;
        @media screen and (max-width: 1440px) {
            font-size: 32px;
        }
    }
    &__text{
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 20px;
        cursor: default;
        margin-left: 50px;
        @media screen and (max-width: 1440px) {
            font-size: 16px;
            width: 317.52px;
            line-height: 24px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
    &__user{
        width: 577px;
        height: 70px;
        padding: 20px;
        border-radius: 16px;
        border: 1px solid #00000080;
        color: #909090;
        font-family: Montserrat;
        font-weight: 400;
        margin-bottom: 30px;
        outline: none;
        @media screen and (max-width: 1440px) {
            width: 377px;
            height: 45px;
            border-radius: 12px;
            margin-bottom: 15px;
        }
    }
    &__user::placeholder{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        color: #000000;        
    }
    &__phone{
        width: 577px;
        height: 70px;
        padding: 20px;
        border-radius: 16px ;
        border: 1px solid #00000080;
        color: #909090;
        font-family: Montserrat;
        font-weight: 400;
        margin-bottom: 30px;
        outline: none;
        @media screen and (max-width: 1440px) {
            width: 377px;
            height: 45px;
            border-radius: 12px;
            margin-bottom: 20px;
        }
    }
    &__phone::placeholder{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        color: #000000;        
    }
     &__area{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        width: 577px;
        padding: 20px;
        height: 212px;
        border-radius: 16px;
        outline: none;
        border: 1px solid #00000080;
        color: #909090;
        font-family: Montserrat;
        padding-bottom: 150px; 
        margin-bottom: 50px;
        @media screen and (max-width: 1440px) {
            width: 377px;
            height: 193px;
            padding-bottom: 155px;
            border-radius: 12px;
            margin-bottom: 30px;
        }
    }
    &__area::placeholder{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        color: #000000;        
    }
    &__button{
        width: 577px;
        height: 70px;
        border-radius: 16px;
        background: #013D83;
        color: #FFF;   
        font-family: system-ui;
        font-size: 22px;
        font-weight: 600;
        line-height: 22.44px;
        text-align: center; 
        @media screen and (max-width: 1440px) {
            width: 377px;
            height: 45px;
            border-radius: 12px;
        }         
    }
}

.form-app{
    text-align: center;
    cursor: default;
    width: 790px;
    @media screen and (max-width: 1440px) {
        width: 570px;
    }
    &__title{
        cursor: default;   
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;
        color: #002550;  
        position: relative; 
        left: 210px;
        bottom: 30px;
        @media screen and (max-width: 1440px) {
            width: 252px;
            font-size: 28px;
            left: 160px;
        }
    }
    &__user{
        width: 600px;
        height: 52px;
        padding: 14px;
        border-radius: 8px;
        border: 1px solid #909090;
        color: #909090;
        font-family: Montserrat;
        margin-bottom: 20px;
        outline: none;
        @media screen and (max-width: 1440px) {
            width: 434px;
            height: 38px;
            border-radius: 5px;
            padding: 8px;
        }
    }
    &__user::placeholder{
        color: #909090;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;  
        @media screen and (max-width: 1440px) {
            font-size: 11px;
        }
    }
    &__phone{
        width: 600px;
        height: 52px;
        padding: 14px ;
        border-radius: 8px;
        border: 1px solid #909090;
        color: #909090;
        font-family: Montserrat;
        margin-bottom: 20px;
        outline: none;
        @media screen and (max-width: 1440px) {
            width: 434px;
            height: 38px;
            border-radius: 5px;
            padding: 8px;
        }
    }
    &__phone::placeholder{
        color: #909090;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        @media screen and (max-width: 1440px) {
            font-size: 11px;
        } 
    }
     &__area{
        padding: 20px;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 200;
        line-height: 22px;
        width: 600px;
        height: 222px;
        border-radius: 8px;
        border: 1px solid #909090;
        padding-bottom: 200px; 
        outline: none;
        @media screen and (max-width: 1440px) {
            width: 434px;
            height: 160px;
            border-radius: 5px;
            padding: 8px;
            padding-bottom: 130px; 
        }
    }
    &__area::placeholder{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        letter-spacing: -0.05em;
        text-align: left;    
        @media screen and (max-width: 1440px) {
            font-size: 13px;
        }  
    }
    &__button{
        width: 600px;
        height: 66px;
        padding: 16px;
        border-radius: 16px;
        background: #013D83;
        color: #FFF;   
        margin-top: 30px; 
        font-family: system-ui;
        font-size: 22px;
        font-weight: 600;
        text-align: center;   
        @media screen and (max-width: 1440px) {
            width: 434px;
            height: 49px;
            border-radius: 8px;
            padding: 10px;
        }
    }
}

.form-vacancy{
    text-align: center;
    cursor: default;
    width: 790px;
    @media screen and (max-width: 1440px) {
        width: 580px;
    }
    &__title{
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        color: #002550; 
        position: relative; 
        left: 95px;
        @media screen and (max-width: 1440px) {
            width: 252px;
            font-size: 28px;
            left: 80px;
            color: #000000;
        }
    }
    &__user{
        width: 536px;
        height: 52px;
        padding: 14px ;
        border-radius: 8px;
        border: 1px solid #909090;
        color: #909090;
        font-family: Montserrat;
        margin-bottom: 15px;
        margin-top: 30px;
        @media screen and (max-width: 1440px) {
            width: 388px;
            height: 39px;
            margin-top: 20px;
        }
    }
    &__email{
        width: 536px;
        height: 52px;
        padding: 14px ;
        border-radius: 8px;
        border: 1px solid #909090;
        color: #909090;
        font-family: Montserrat;
        margin-bottom: 15px;
        @media screen and (max-width: 1440px) {
            width: 388px;
            height: 39px;
        }
    }
    &__phone{
        width: 536px;
        height: 52px;
        padding: 14px;
        border-radius: 8px;
        border: 1px solid #909090;
        color: #909090;
        font-family: Montserrat;
        @media screen and (max-width: 1440px) {
            width: 388px;
            height: 39px;
        }
    }
    &__button{
        width: 522px;
        height: 70px;
        padding: 16px ;
        border-radius: 8px;
        background-color: #013A7F;
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px;
        text-align: center;
        @media screen and (max-width: 1440px) {
            width: 388px;
            height: 49px;
            padding: 8px;
        }
    }
    
.form-double{
    display: flex;
    justify-content: center;
}

}
.check {
    color: #444;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 10px;
    @media screen and (max-width: 1440px) {
        font-size: 17px;
        line-height: 19px;
        margin-left: 5px;
    }
  }
  .box {
    display: flex;
    margin-top: 15px;
    @media screen and (max-width: 1440px) {
        margin-top: 5px;
    }
    &-in {
      width: 25px;
      height: 25px;
      cursor: pointer;
      @media screen and (max-width: 1440px) {
        width: 18px;
        height: 18px;
    }
    }
  }
  .module-block__content-checkboxs {
    margin-left: 180px;
    margin-top: 25px;
    @media screen and (max-width: 1440px) {
        margin-left: 160px;
        margin-top: 20px;
    }
  } 
.file {
    width: 517px;
    height: 142px;
    padding: 20px ;
    border-radius: 16px;
    text-align: center;
    border: 1px dashed grey;
    &__attach {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 800;
      line-height: 22px;
      letter-spacing: -0.05em;
      text-align: left;
      color: #000000;
      text-align: center;
    }
    &__drop {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 450;
      line-height: 19px;
      letter-spacing: -0.05em;
      text-align: left;
      width: 355px;
      color: #000000;
      height: 14px;
      margin-top: 10px;
      cursor: default; 
      @media screen and (max-width: 1440px) {
        width: 380px;
    }
    }
    &__label{
        padding: 5px 10px;
        background-color: transparent;
        font-size: 20px;
        color: #FFF;
        cursor: pointer;
        color: #013d83;
        font-family: Montserrat;
        font-weight: 600;
    }
    &__install {
        z-index: 2;
    }
    &__list{
        border: 3px solid #64C661;
        width: 544px;
        height: 44px;
        padding: 14px;
        gap: 5px;
        border-radius: 8px;
        display: flex;
        margin-bottom: 30px;
        margin-left: 125px;
    }
  }
  .file:hover {
    transition: 0.5s;
    border: 1px dashed red;
  }
.warning-titles{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #000000;
    margin-top: 10px; 
    margin-bottom: 5px;
    cursor: default;
    @media screen and (max-width: 1440px) {
        margin-top: 0px;
    }
    &__child{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 16.8px;
        letter-spacing: -0.05em;
        text-align: left;
        color: #000000;
        cursor: default;
    }
}
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 140px;
    margin-bottom: 30px;
    width: 517px;
    height: 142px;
    padding: 20px ;
    border: 2px dashed #002550;
    border-radius: 16px;
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.5);
    transition: border-color 0.3s, background-color 0.3s;
    @media screen and (max-width: 1440px) {
        width: 401px;
        height: 126px;
        margin-left: 90px;
    }
  }
  .form.drag {
    border-color: red;
  }
  .label {
        padding: 5px 10px;
        background-color: transparent;
        font-size: 16px;
        color: #FFF;
        cursor: pointer;
        color: #013d83;
        font-family: Montserrat;
        font-weight: 600;
        line-height: 19.2px;
        margin-left: 227px;
        margin-top: -18px;
        @media screen and (max-width: 1440px) {
            margin-left: 200px;
        }
        &__span{
            position: relative;
            bottom: 3px;
        }
  } 
  .input {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
.correct{
    &__tick{
        width: 13px;
        height: 13px;
    }
    &__title{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: -0.05em;
        text-align: left;
        color: #646464;
    }
    &__delete{
        position: fixed;
        width: 16px;
        height: 16px;
        margin-left: 490px;
        cursor: pointer;
    }
}
.politic{
    margin-top: 20px;
    &__check{
        width: 20px;
        height: 20px;
        border: 2px solid #002550;
        color: #002550;
        position: absolute;
        left: 195px;
        bottom: 22px;
        @media screen and (max-width: 1440px) {
            left: 90px;
        }
    }
    &__text{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        letter-spacing: -0.05em;
        text-align: left;  
        color: #646464;
        position: relative;
           
    }
    &__reference{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        letter-spacing: -0.05em;
        text-align: left;
        color: #013D83;
    }
}