footer {
  background: var(--Primary, #002550);
}
.footer__container {
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 88px;
  margin-top: 80px;
  padding: 26px 160px;

  .footer__Logotip img {
    width: 245.094px;
    height: 76.293px;
  }
  .footer__blocks {
    display: flex;
    gap: 88px;
  }

  .logo__container {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: 20px;
    p {
      display: flex;
      justify-content: start;
      font-size: 16;
      font-weight: 400;
      line-height: 150%;
      gap: 14px;
      line-height: 39px;
    }
    a {
      color: #fff;
    }
    h3 {
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 34px;
    }
  }
}

.footer__form {
  display: flex;
  background: var(--Primary, #002550);
  justify-content: center;
  padding: 10px 0;
  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }
}
.footer__blok {
  display: flex;
  flex-direction: column;
  gap: 23px;
  p {
    font-size: 18px;
    font-weight: 500;
  }
}
h2,
h3,
p {
  cursor: pointer;
}
.Link:visited {
  color: inherit;
}

@media only screen and (max-width: 1440px) {
  .footer__container {
    padding: 20px 120px;
    gap: 50px;
    .footer__blocks {
      gap: 40px;
    }
    .logo__container {
      display: flex;
      flex-direction: column;
      gap: 23px;
      p {
        font-size: 14.563px;
        font-weight: 400;
        line-height: 150%;
      }
    }
    p {
      color: #fff;
      gap: 8px;

      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
    }
    .footer__Logotip img {
      width: 182.031px;
      height: 56.663px;
    }
    .footer__blok {
      gap: 16px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .footer__blocks {
      flex-direction: column;
      flex-direction: column-reverse;
      align-items: center;
    }
    .footer__blok {
      p {
        display: flex;
        justify-content: center;
        color: #fff;
        text-align: center;

        font-size: 12px;
        font-weight: 500;
        line-height: 120%;
      }
    }
    .logo__container {
      display: ruby;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 0;
      .footer__count {
        display: flex;
       margin-left: 30px;
        .location {
          font-size: 0;
          display: flex;
          align-items: center;
          margin-right: 20px;
          .footer__mapp {
            img {
              display: none;
            }
          }
        }
        .location img {
          display: block;
        }
        .footer__contacts__tel {
          font-size: 0;
        }
      }
    }
  }
  .footer__line {
    height: 1px;
    background-color: rgba(1, 61, 131, 0.7);
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .footer__blok:nth-child(1) {
    display: none;
  }
}
