@import '../../common/style.scss';
.comments {
    background: $white;
    padding: 110px 0 0 0;
}

.comments__title {
    font-size: 80px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    color: $dark;
    text-align: center;
    margin-bottom: 10px;
}
.comments__subtitle {
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    line-height: 120%;
    color: #181816;
    text-align: center;
    margin-bottom: 30px;
}
