@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.service{
    margin-bottom: 112px;
    &__container{
        max-width: 1720px;
        margin: 0 auto;
    }
}

.all-cards{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    &__card{
        width: 400px;
        height: 222px;
        border-radius: 16px;
        border: 1px solid #FFF;
        background: #013d83;
        position: relative;
    }
    &__text{
        width: 252px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 32px;
        padding-top: 15px;
        font-weight: 600;
        line-height: normal;
        font-style: normal;
        margin-left: 10px;
       
    }
}
.all-cards__info{
    width: 218px;
    height: 85px;
    bottom: 0px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Montserrat;
    font-size: 21.551px;
    font-weight: 400;
    position: absolute;
    background-color: #002550;
    border-radius: 12px;
    cursor: pointer;
}
.all-cards__image{
    position: absolute;
    right: 25px;
    top: 70px;
    &-alt{
        position: absolute;
        right: 10px;
        top: 95px;
    }
}
.modal-title{
    position: absolute;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    font-family: Montserrat;
    color: #FFF;
}
