#ourServices {
    position: absolute;
    top: -70px;
    left: 0;
}

#ourServices_block {
    position: relative;
    padding-top: 112px;
    @media screen and (max-width: 1280px) {
        padding-top: 80px;
    }
    @media screen and (max-width: 768px) {
        padding-top: 30px;
    }
}

.ourServices {
    &Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 56px;
        @media screen and (max-width: 1280px) {
            gap: 36px;
        }
        @media screen and (max-width: 768px) {
            gap: 20px;
        }
    }
    &Cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        @media screen and (max-width: 796px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        @media screen and (max-width: 670px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
    &Card {
        display: flex;
        align-items: center;
        background: #013d83;
        border-radius: 16px;
        max-width: 360px;
        width: 100%;
        min-height: 185px;
        transition: 0.3s ease-out;
        &:hover {
            background: #00489a;
        }
        @media screen and (max-width: 1440px) {
            max-width: 286px;
            min-height: 156px;
        }
        @media screen and (max-width: 768px) {
            max-width: 334px;
            min-height: 185px;
            border-radius: 24px;
        }
        @media screen and (max-width: 670px) {
            max-width: 50vw;
            min-height: 185px;
            border-radius: 24px;
        }
        @media screen and (max-width: 430px) {
            max-width: 185px;
            min-height: 109px;
            border-radius: 15px;
        }
        &Content {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            justify-content: space-between;
            width: 100%;
        }
        &Label {
            color: #fff;
            font-size: 25px;
            font-weight: 600;
            width: 100%;
            margin: 12px;
            @media screen and (max-width: 1440px) {
                font-size: 19px;
            }
            @media screen and (max-width: 768px) {
                font-size: 24px;
            }
            @media screen and (max-width: 670px) {
                font-size: 18px;
                width: 90%;
            }
            @media screen and (max-width: 430px) {
                margin: 0;
                margin-top: 5px;
                margin-left: 8px;
                font-size: 14px;
                line-height: normal;
            }
        }
        &Img {
            margin-right: 5px;
            height: 75px;
            width: 75px;
            @media screen and (max-width: 1440px) {
                width: 72px;
                height: 72px;
            }
            @media screen and (max-width: 768px) {
                margin: 10px;
                margin-bottom: 100px;
                width: 66px;
                height: 66px;
            }
            @media screen and (max-width: 670px) {
                margin: 10px;
                margin-bottom: 100px;
                width: 55px;
                height: 55px;
            }
            @media screen and (max-width: 430px) {
                margin: 0;
                margin-bottom: 50px;
                margin-right: 2px;
                width: 32px;
                height: 32px;
            }
        }
        &Button {
            width: 180px;
            background: #002550;
            color: #ffffff;
            padding: 25px 0; /* Adjusted padding */
            border-radius: 8px;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            font-weight: 400;
            font-family: Montserrat;
            @media screen and (max-width: 1440px) {
                width: 154px;
            }
            @media screen and (max-width: 768px) {
                width: 244px;
                border-radius: 0 20px;
                font-size: 20px;
            }
            @media screen and (max-width: 670px) {
                width: 194px;
                border-radius: 0 20px;
                font-size: 18px;
            }
            @media screen and (max-width: 430px) {
                width: 135px;
                padding: 15px 0;
                border-radius: 0 10px;
                font-size: 12px;
                font-weight: 500;
            }
            &:hover {
                background: #001227;
            }
        }
    }
    .faqFormBottom {
        .btn {
            margin-bottom: 0;
        }
    }
}
