.map {
}
iframe {
  width: 1108px;
  height: 752px;
    border-radius: 0px 24px 24px 0;
  }
  @media only screen and (max-width: 1440px) {
    iframe {
      max-width: 772px;
      height: 524px;
    }
  }