.train-areas__title {
    margin-bottom: 80px;
    pointer-events: none;
}
//------media-query---------
@media (max-width: 1800px) {
    .train-areas__title {
        margin-bottom: 71px;
    }
}
//--------------------------
@media (max-width: 1680px) {
    .train-areas__title {
        margin-bottom: 62px;
    }
}
//--------------------------
@media (max-width: 1560px) {
    .train-areas__title {
        margin-bottom: 53px;
    }
}
//--------------------------
@media (max-width: 1440px) {
    .train-areas__title {
        margin-bottom: 45px;
    }
}
//--------------------------
@media (max-width: 768px) {
    .train-areas {
        margin-bottom: 40px;
    }
    .train-areas__title {
        margin-bottom: 36px;
    }
}
//--------------------------
@media (max-width: 600px) {
    .train-areas {
        margin-bottom: 30px;
    }
    .train-areas__title {
        margin-bottom: 28px;
    }
}
//--------------------------
@media (max-width: 425px) {
    .train-areas {
        margin-bottom: 20px;
    }
    .train-areas__title {
        margin-bottom: 20px;
    }
}
