.hero {
  height: 100vh;
  width: 100vw;
  background: url(../../Assets/bg.video.gif);
  background-repeat: no-repeat;
  background-size: cover;
  &Container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  &Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 838px;
    @media screen and (max-width: 1280px) {
      gap: 32px;
    }
    @media screen and (max-width: 762px) {
      gap: 18px;
    }
    &Title {
      color: #FAA831;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 80px;
      font-weight: 800;
      line-height: 120%; /* 96px */
      letter-spacing: -0.8px;
      @media screen and (max-width: 1280px) {
        font-size: 60px;
        letter-spacing: -0.6px;
      }
      @media screen and (max-width: 768px) {
        font-size: 36px;
        letter-spacing: -0.36px;
      }
    }
    &Description {
      color: rgba(255, 255, 255, 0.90);
      font-size: 44px;
      font-weight: 700;
      line-height: 120%; /* 52.8px */
      letter-spacing: 0.88px;
      @media screen and (max-width: 1280px) {
        font-size: 38px;
        letter-spacing: 0.76px;
      }
      @media screen and (max-width: 768px) {
        font-size: 18px;
        letter-spacing: 0.36px;
        max-width: 516px;
      }
    }
  }
}