.inner-carousel-image {
    width: 1090px;
    height: 610px;
    border-radius: 16px 0 0 16px;
    overflow: hidden;
    object-fit: cover;
}
//-------media-query------------------
@media (max-width: 1800px) {
    .inner-carousel-image {
        width: 1014px;
        height: 567px;
        border-radius: 15px 0 0 15px;
    }
}
//------------------------------------
@media (max-width: 1680px) {
    .inner-carousel-image {
        width: 938px;
        height: 525px;
        border-radius: 14px 0 0 14px;
    }
}
//------------------------------------
@media (max-width: 1560px) {
    .inner-carousel-image {
        width: 850px;
        height: 475px;
        border-radius: 13px 0 0 13px;
    }
}
//------------------------------------
@media (max-width: 1440px) {
    .inner-carousel-image {
        width: 760px;
        height: 425px;
        border-radius: 11px 0 0 11px;
    }
}
