.inner-carousel-image {
    width: 1090px;
    height: 610px;
    object-fit: cover;
}
//-------media-query------------------
@media (max-width: 1800px) {
    .inner-carousel-image {
        width: 1014px;
        height: 567px;
    }
}
//------------------------------------
@media (max-width: 1680px) {
    .inner-carousel-image {
        width: 938px;
        height: 525px;
    }
}
//------------------------------------
@media (max-width: 1560px) {
    .inner-carousel-image {
        width: 850px;
        height: 475px;
    }
}
//------------------------------------
@media (max-width: 1440px) {
    .inner-carousel-image {
        width: 760px;
        height: 425px;
    }
}
//------------------------------------
@media (max-width: 767px) {
    .inner-carousel-image {
        width: 100%;
        height: 450px;
    }
}
//------------------------------------
@media (max-width: 600px) {
    .inner-carousel-image {
        width: 100%;
        height: 335px;
    }
}
//------------------------------------
@media (max-width: 425px) {
    .inner-carousel-image {
        width: 100%;
        height: 220px;
    }
}
