.faq {
    &Container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 56px;
        @media screen and (max-width: 1280px) {
            gap: 36px;
        }
        @media screen and (max-width: 762px) {
            gap: 20px;
        }
    }
    &Questions {
        width: 100%;
        cursor: pointer;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        border-radius: 16px;
        background: #013d83;
        .answer {
            span {
                color: #fff !important;
            }
        }
    }
    &Box {
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
        .faqArrow{
            display: flex;
            align-items: center;    
        }
        .faqTitles {
            span {
                color: #fff !important;
            }
        }
    }
    &Wrapper {
        display: flex;
        align-items: flex-start;
        gap: 2%;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    }
    &Selects {
        display: flex;
        flex-direction: column;
        width: 49%;
        gap: 24px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    &Form {
        width: 49%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        .customTextareaForm{
            height: 190px;
        }
    }
}
