.faq {
    &Container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 56px;
        @media screen and (max-width: 1280px) {
            gap: 36px;
        }
        @media screen and (max-width: 768px) {
            gap: 20px;
        }
    }
    &Titles {
        font-weight: 600;
        font-size: 24px;
        @media screen and (max-width: 1440px) {
            font-size: 20px;
        }
        @media screen and (max-width: 768px) {
            font-size: 24px;
            line-height: normal;
        }
        @media screen and (max-width: 590px) {
            font-size: 12px;
        }
    }
    &Questions {
        width: 100%;
        cursor: pointer;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        border-radius: 16px;
        background: #013d83;
        .answer {
            padding: 5px 10px 10px 5px;
            font-size: 22px;
            font-weight: 500;
            @media screen and (max-width: 1440px) {
                font-size: 17px;
            }
            span {
                font-weight: 500;
                color: #fff !important;
            }
        }
    }
    &Box {
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 590px) {
            padding: 0;
        }
        .faqArrow {
            display: flex;
            align-items: center;
            img {
                width: 40px;
            }
        }
        .faqTitles {
            span {
                color: #fff !important;
            }
        }
    }
    &Wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2%;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 36px;
        }
    }
    &Selects {
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 24px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    &Form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 35%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        .customTextareaForm {
            height: 190px;
        }
        &Bottom .btn {
            font-weight: 600;
            padding-block: 20px;
            width: 100%;
            border-radius: 12px;
            @media screen and (max-width: 1440px) {
                padding-block: 17px;
                font-size: 16px;
            }
            @media screen and (max-width: 768px) {
                padding-block: 20px;
                font-size: 28px;
            }
            @media screen and (max-width: 590px) {
                padding-block: 14px;
                font-size: 14px;
            }
        }
        .customInputForm {
            padding-block: 16px;
            border-radius: 12px;
            height: auto;
            color: #000;
        }

        textarea {
            border-radius: 12px;
            padding-block: 16px;
            color: #000;
        }
    }
    .form-faq {
        &__title {
            font-family: Montserrat;
            font-size: 44px;
            font-weight: 700;
            color: #000;
            margin-bottom: 20px;
            line-height: normal;
            @media screen and (max-width: 1440px) {
                font-size: 32px;
                margin-bottom: 16px;
            }
            @media screen and (max-width: 768px) {
                font-size: 40px;
                margin-bottom: 20px;
            }
            @media screen and (max-width: 490px) {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        &__text {
            font-family: Montserrat;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            color: #000000;
            margin-bottom: 30px;
            cursor: default;
            @media screen and (max-width: 1440px) {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 16px;
                width: 70%;
            }
            @media screen and (max-width: 768px) {
                margin-bottom: 20px;
                width: 80%;
                line-height: 150%;
                font-size: 24px;
            }
            @media screen and (max-width: 490px) {
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 150%;
                width: 95%;
            }
        }
    }
}
