.faq {
    &Container {
        display: flex;
        flex-direction: column;
        gap: 56px;
    }
    &Questions {
        width: 100%;
        cursor: pointer;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        border-radius: 16px;
        background: #013D83;
    }
    &Box {
        display: flex;
        padding: 5px;
    }
    &Wrapper {
        display: flex;
        align-items: flex-start;
        gap: 40px;
        @media screen and (max-width: 762px) {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    }
    &Selects {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }
}