@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.faq {
  margin: 0 auto;
  width: 1720px;
  height: 894px;
  background: #ffffff;

   &_container{
    margin-top: 110px;
  }
}

.chief_block {
  display: flex;
}
.faq_title {
  color: #013d83;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-left: 230px;
}
.all_questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  height: 713px;
  width: 995px;
  margin-top: 80px;
}
.boks_questions {
  cursor: pointer;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 16px;
  background: #013d83;
}

.title_questions {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  width: 935px;
  display: flex;
  color: #fff;
}
.arrow {
  display: flex;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-left: 1000px;
  margin-top: -40px;
  color: white;
  gap: 9px;
}
.arrow:hover {
  cursor: pointer;
}
.answer {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 935px;
  margin-left: 10px;
}

.additional_questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 577px;
  height: 718px;
  margin-left: 148px;
  margin-top: 57px;
}
.title_additional {
  color: #000000;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.min_text {
  color: #000000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 484px;
  margin-top: 24px;
}
.all_inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;
}

.btn_additional {
  margin-top: 50px;
  display: flex;
  width: 577px;
  height: 70px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  background: #013d83;
  color: #ffffff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.439px;
}
.btn_additional:hover {
  cursor: pointer;
}

.inp {
  color: white;
  background-color: transparent;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 22px;
  width: 577px;
  gap: 10px;
  border-radius: 16px;
  outline: none;
  border: 1px solid var(--Color-Brand-black, #000000);
  margin-left: -3px;
  margin-top: -4px;
  height: 70px;
}

.inp::placeholder {
  color: gray;
  padding-left: 10px;
}

.inp:hover {
  border: 1px solid darkgray;
  color: white;
  transition: 1s;
}

.inp:hover::placeholder {
  color: #013d83;
  transition: 1s;
  font-weight: 400;
}

.inp:not(:hover) {
  transition: 1s;
}

.inp:focus {
  outline: 0;
  border: 1px solid #ccc;
  background: #266798;
  padding-left: 10px;
}

.inp:focus::placeholder {
  color: white;
}

.inp:not(:focus) {
  color: gray;

  ::placeholder {
    padding-left: 10px;
  }
}

.inp:not(:focus::placeholder) {
  color: gray;
  padding-left: 10px;
}

.secondI {
  color: white;
  background-color: transparent;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 22px;
  width: 577px;
  gap: 10px;
  height: 212px;
  border-radius: 16px;
  outline: none;
  border: 1px solid var(--Color-Brand-black, #000000);
  margin-left: -3px;
  margin-top: -4px;
  padding-bottom: 119px;
}

.secondI::placeholder {
  color: gray;
  padding-left: 10px;
}

.secondI:hover {
  border: 1px solid darkgray;
  transition: 1s;
}

.secondI:hover::placeholder {
  color: #013d83;
  transition: 1s;
  font-weight: 300;
}

.secondI:not(:hover) {
  transition: 1s;
}

.secondI:focus {
  outline: 0;
  border: 1px solid #ccc;
  background: #266798;
}

.secondI:not(:focus) {
  color: gray;
}

.secondI:focus::placeholder {
  color: white;
}
