footer {
    background: var(--Primary, #002550);
}
.footer__container {
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 88px;
    // margin-top: 80px; FIX ME!
    padding: 26px 160px;

    .footer__Logotip img {
        width: 245.094px;
        height: 76.293px;
    }

    .logo__container {
        display: flex;
        flex-direction: column;
        gap: 34px;
        margin-top: 20px;
        p {
            display: flex;
            font-size: 19.417px;
            font-weight: 400;
            line-height: 150%;
            gap: 14px;
        }
        a {
            color: #fff;
        }
        h3 {
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 34px;
        }
    }
}
.footer__form {
    display: flex;
    background: var(--Primary, #002550);
    justify-content: center;
    h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
    }
}
.footer__blok {
    display: flex;
    flex-direction: column;
    gap: 23px;
    p {
        font-size: 18px;
        font-weight: 500;
    }
}
h2,
h3,
p {
    cursor: pointer;
}
.Link:visited {
    color: inherit;
}

@media only screen and (max-width: 1440px) {
    .footer__container {
        padding: 20px 120px;
        gap: 66px;
        .logo__container {
            display: flex;
            flex-direction: column;
            gap: 23px;
            p {
                font-size: 14.563px;
                font-weight: 400;
                line-height: 150%;
            }
        }
        p {
            color: #fff;
            gap: 8px;

            font-size: 14px;
            font-weight: 500;
            line-height: 120%;
        }
        .footer__Logotip img {
            width: 182.031px;
            height: 56.663px;
        }
        .footer__blok {
            gap: 16px;
        }
    }
}
