#coaches {
    padding-top: 112px;
    @media screen and (max-width: 1280px) {
      padding-top: 80px;
    }
    @media screen and (max-width: 762px) {
      padding-top: 50px;
    }
  }

.coaches__title {
    margin-bottom: 36px;
    pointer-events: none;
}
//---------------------------
@media (max-width: 600px) {
    .coaches__title {
        margin-bottom: 28px;
    }
}
//---------------------------
@media (max-width: 425px) {
    .coaches__title {
        margin-bottom: 20px;
    }
}
