@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.logotype {
    display: flex;
    justify-content: space-between;
}

.requisites_block {
    padding-block: 20px;
}

.requisites {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.2px;
        text-align: center;
        color: #013d83;
    }
    &__info {
        font-family: Montserrat;
        width: 650px;
        font-size: 22px;
        margin: 0 auto;
        font-weight: 600;
        line-height: 33px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
    }
}
.phone {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    &__reference {
        display: inline-grid;
    }
    &__number-one {
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 500;
        line-height: 34.13px;
        text-align: center;
        color: #171717;
    }
    &__number {
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 500;
        line-height: 34.13px;
        text-align: center;
        color: #171717;
    }
}
.card {
    margin-top: 20px;
    margin-left: 350px;
}
.payment {
    width: 725px;
    margin: 0 auto;
    color: #000000;
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    text-align: center;
}
.location {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    &__reference {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 41.44px;
        text-align: left;
        color: #171717;
    }
}
