@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.logotype{
    position: relative;
    &__icon{
        position: absolute;
        top: -70px;
    }
}
.requisites{
    position: relative;
    width: 760px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
        @media screen and (max-width: 1440px) {
            width: 600px;
            margin-left: 0;
            margin-top: 20px;
        }
    &__title{
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.2px;
        color: #013D83;
            @media screen and (max-width: 1440px) {
                font-size: 28px;
            }
        }
    &__info{
        font-family: Montserrat;
        font-size: 22px;
        width: 697px;
        font-weight: 500;
        line-height: 33px;
        text-align: center;
        color: #000000;
            margin-top: 20px;  
            @media screen and (max-width: 1440px) {
                width: 575px;
                font-size: 20px;
            }     
        }
}
.phone{
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
        @media screen and (max-width: 1440px) {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    &__reference{
        display: inline-grid;
    }
    &__number-one{
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 500;
        line-height: 34.13px;
        text-align: center;
        color: #171717; 
        @media screen and (max-width: 1440px) {
            font-size: 20px;
        }       
    }
    &__number{
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 500;
        line-height: 34.13px;
        text-align: center;
        color: #171717;  
        @media screen and (max-width: 1440px) {
            font-size: 20px;
        }
    }
}
.payment{
    color: #000000;  
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    width: 726px;
        @media screen and (max-width: 1440px) {
            width: 575px;
            font-size: 20px;
        }
}
.location{
    margin-top: 10px;
    &__reference{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 41.44px;
        text-align: left;
        color: #171717;
        @media screen and (max-width: 1440px) {
            font-size: 20px;
        }
    }
}
