.header {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    z-index: 999;
    transition: all 0.3s ease;
    
    @media screen and (max-width: 1440px) {
        height: 90px;
    }
    svg {
        width: 20px;
        height: 20px;
        transition: transform 0.3s;
    }
    svg.open {
        transform: rotate(180deg);
    }
    &Container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &Logotype {
        position: relative;
        width: 170px;
        z-index: 2;
        @media screen and (max-width: 1440px) {
            width: 120px;
        }
    }
    &Nav {
        display: flex;
        align-items: center;
        gap: 40px;
        @media screen and (max-width: 1440px) {
            display: flex;
            align-items: center;
            gap: 24px;
        }
        @media screen and (max-width: 1220px) {
            display: none;
            position: absolute;
            left: -200%;
            top: 0;
            height: 100vh;
            display: block;
            background: #000;
            padding: 76px 246px 356px 20px;
            transition: left 1s;
        }
    }
    &NavLink {
        color: #ffffff;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 27px;
        @media screen and (max-width: 1440px) {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            padding: 12px 0;
            display: block;
        }
    }
    &Wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 27px;
    }
    &Language {
        position: relative;
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
    }
}
.headerOption {
    position: absolute;
    top: 80px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 25px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.7);
    margin-left: -25px;
    @media screen and (max-width: 767px) {
        top: 60px;
    }
}

.header-back {
    top: 0;
    position: absolute;
    z-index: 100;
}

.headerlangImg {
    width: 54px;
    @media screen and (max-width: 1440px) {
        width: 40.5px;
    }
    @media screen and (max-width: 768px) {
        width: 30px;
    }
}

.headerBurger {
    display: none;
    border: none;
    position: relative;
    @media (max-width: 768px) {
        display: block;
        margin-top: 4px;
    }
}
.headerNav.active {
    left: 0;
    background: #000;
    border: #000;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .headerAccountBurger {
        align-items: center;
        margin-top: 20px;
    }
    .headerAccount {
        display: none;
    }
}

@media screen and (max-width: 1220px) {
    .mobileSeparator {
        border: none;
        border-top: 1px solid white;
        width: 95vw;
        margin-top: 8px;
    }
}
