#section{
  width: 1720px;
  margin: 0 auto;
  .section__trhead{
    display: flex;
width: 18.75rem;
padding: 0.88038rem 4.31806rem;
justify-content: center;
align-items: center;
gap: 0.41925rem;
  }
  .section__header{
    border: 1px solid #000;
    color: #000;
font-family: Montserrat;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;

  }
  .section__row{
   .section__column{
    border: 1px solid #000;
    width: 13.0625rem;
    flex-shrink: 0;
    color: #000;
font-family: Montserrat;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
   }
  }
}