.validate{
    position: relative;
    width: 605px;
    display: inline-block;
    @media screen and (max-width: 1440px) {
        width: 434px;
    }
    @media screen and (max-width: 767px) {
        width: 608px;
    }
    @media screen and (max-width: 425px) {
        width: 305px;
    }
}
.validate__input{
    width: 600px;
    height: 52px;
    padding: 14px;
    margin-bottom: 22px;
    border-radius: 8px;
    border: 1px solid #909090;
    color: #909090;
    font-family: Montserrat;
    outline: none;
        @media screen and (max-width: 1440px) {
            width: 434px;
            height: 45px;
            border-radius: 8px;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 767px) {
            width: 608px;
            height: 60px;
            border-radius: 16px;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 425px) {
            width: 305px;
            height: 42px;
            border-radius: 8px;
            margin-bottom: 18px;
        }
        &.error {
            border-color: #D64751;
        }
}
.error{
    position: relative;
        &__text{
            color: #D64751;
            position: absolute;
            left: 10px;
            bottom: 0px;
            @media screen and (max-width: 1440px) {
                font-size: 14px;
            }
            @media screen and (max-width: 425px) {
                font-size: 12px ;
            }
        }
        &__icon{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-110%);
            @media screen and (max-width: 1440px) {
                right: 15px;
            }
        }
}
