.error{
    position: relative;
    &__text{
        color: red;
        text-align: left;
        margin-left: 80px;
       position: fixed;
    }
    &__icon{
        position: absolute;
        right: 95px;
        top: 50%;
        transform: translateY(-50%);
    }
}