.comments__title {
    margin-bottom: 24px;
}

.comments__subtitle {
    font-size: 40px;
    font-weight: 500;
    line-height: 120%;
    color: #181816;
    text-align: center;
    margin-bottom: 92px;
}
//----media-query-----------
@media (max-width: 1800px) {
    .comments__subtitle {
        font-size: 37px;
        margin-bottom: 81px;
    }
}
//--------------------------
@media (max-width: 1680px) {
    .comments__subtitle {
        font-size: 34px;
        margin-bottom: 70px;
    }
}
//--------------------------
@media (max-width: 1560px) {
    .comments__subtitle {
        font-size: 31px;
        margin-bottom: 59px;
    }
}
//--------------------------
@media (max-width: 1440px) {
    .comments__subtitle {
        font-size: 28px;
        margin-bottom: 48px;
    }
}
//--------------------------
@media (max-width: 767px) {
    .comments {
        margin-bottom: 60px;
    }
    .comments__title {
        margin-bottom: 36px;
    }
    .comments__subtitle {
        font-size: 28px;
        margin-bottom: 36px;
    }
}
//--------------------------
@media (max-width: 600px) {
    .comments {
        margin-bottom: 40px;
    }
    .comments__title {
        margin-bottom: 28px;
    }
    .comments__subtitle {
        font-size: 21px;
        margin-bottom: 28px;
    }
}
//--------------------------
@media (max-width: 425px) {
    .comments {
        margin-bottom: 25px;
    }
    .comments__title {
        margin-bottom: 20px;
    }
    .comments__subtitle {
        font-size: 14px;
        margin-bottom: 20px;
    }
}
