$lightblack: #002550;

.comment-card {
    width: 482px;
    min-height: 418px;
    text-align: center;
    padding: 38px 23px;
    border-radius: 30px;
    border: 2px solid $lightblack;
    &:hover {
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    }

    > img {
        max-width: 164px;
        width: 100%;
        max-height: 164px;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
        margin-bottom: 15px;
    }
}
.comment-info {
    text-align: center;
    > p {
        color: $lightblack;
        font-style: normal;
        line-height: 150%;
        margin-bottom: 5px;
    }
    > p:last-child {
        margin-bottom: 0;
    }
}
.comment-info__name {
    font-size: 24px;
    font-weight: 700;
}
.comment-info__specialization {
    font-size: 18px;
    font-weight: 600;
}
.comment-info__text {
    display: inline-block;
    max-width: 404px;
    max-height: 80px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.3s linear;
    &.comment-info__expanded-text {
        max-height: 180px;
    }
    > span {
        color: rgba(100, 100, 100, 0.4);
        margin-left: 5px;
    }
}
