.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;


    &__content{
        padding: 20px;
        border-radius: 12px;
        width: 790px;
        height: 756px;
        border-radius: 24px;
        background: #FFF;
        transform: scale(0.5);
        transition: 0.4s all;
        z-index: 2;
    }
}

.modale{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: 0.5s;
    
    

    &--w{
        
        border-radius: 24px;
        transition: 0.4s all;
        z-index: 2;
    }
}

.modal.active{
    opacity: 1;
    pointer-events: all;
    
}

.modal.activee{
    opacity: 1;
    pointer-events: all;
    transition: 1s;
}

.modal__content.active{
    transform: scale(1);
}

.module--blockk__cross{
    position: absolute;
    margin-left: 775px;
    margin-top: -65px;
    cursor: pointer;
}

.module--blockk__crosser{
    position: absolute;
    margin-left: 635px;
    margin-top: -557px;
    cursor: pointer;
}

.form{
     


    &--title{
        color: #002550;
        text-align: center;
        font-family: Montserrat;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 48px */
        margin-top: 20px;
    }

    &--inp{
        display: flex;
        padding: 14px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid #909090;
        width: 600px;
        font-size: 16px;
        font-style: normal;
        font-weight: 200;
        line-height: 22px;
        font-family: Montserrat;
        
        
    }

    &--secondI{
        width: 600px;
        padding: 14px;
        height: 212px;
        border-radius: 8px;
        border: 1px solid #909090;
        font-size: 16px;
        font-style: normal;
        font-weight: 200;
        line-height: 22px;
        font-family: Montserrat;
        align-self: stretch;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    &--btn{
        border-radius: 16px;
        background: #013D83;
        display: flex;
        width: 600px;
        height: 66px;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-shrink: 0;
        margin-top: 25px;      
        margin-left: 70px;
        color: #FFF;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; 
        letter-spacing: -0.48px;
        border: 1px solid #013D83;
    }

}

.all-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
    margin-left: 70px;
}







.check{
    color: #444;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.4px; 
    margin-left: 10px;
    
    
}

.box{
    display: flex;
    margin-top: 15px;
    

    &--in{
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}

.module--blockk__content--checkboxs{
    margin-left: 180px;
    margin-top: 25px;
}

.error{
    color: red;
    position: absolute;
    margin-top: 50px;

    &-two{
        color: red;
        margin-top: -25px;
        
    }
    
}

.danger{
    position: absolute;
    z-index: 0;
    width: 1px;
    
    &-two{
        position: absolute;
        z-index: 1;
        width: 10px;
    }
}

.svg{
    z-index: 5;
    margin-left: 570px;
    margin-top: 20px;
    
    &-two{
        z-index: 4;
        margin-top: 101px;
        margin-left: 570px;
    }
}

.image{
    position: absolute;
    margin-top: 19px;
    margin-left: 556px;

    &-second{
        position: absolute;
        margin-top: 130px;
        margin-left: 556px;
    }
}

.moduletrue{
    
    width: 580px ;
    height: 524px ;
    padding: 50px ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFFFFF;
    &--cross{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        right: 34px;
        font-size: 21px;
        border: 3px solid white;
        border-radius: 50%;
        width: 41px;
        height: 42px;
        cursor: pointer;
    }
    &--check{
        width: 80px;
height: 80px;
flex-shrink: 0;
width: 80px;
height: 80px;
flex-shrink: 0;
/* background: #27AE60; */
border: 5px solid #27AE60;
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
border-radius: 50%;
color: #27AE60;
// rotate: 3 .5 2 45deg;
// transition: 2s;
    }
    h1{
        color: black;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 26.4px; /* 110% */
    }
}