@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.block {
    background-image: url("../src/Assets/1background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1118px;  
}

.menu {
    position: absolute;
    margin-top: 341px;
    margin-left: 118px;
}

.title {
    width: 504px;
    color: #FAA831;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; 
    letter-spacing: -0.8px;
    text-shadow: 0px 0 0px #000, 
    0 1px 0px white, 
    -1px 0 0px white, 
    0 -1px 0px white;
    margin-top: 10px;
}

.text {
    width: 838px;
    color: rgba(255, 255, 255, 0.90);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: 0.88px;
    margin-top: 37px;
}

.menu_btn {
    padding: 16px 20px;
}

.btn {
    width: 256px;
    height: 70px;
    border-radius: 16px;
    background: #FAA831;
    color: #171717;
    box-shadow: 0px 1.122px 4.488px 0px rgba(25, 33, 61, 0.08);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.48px;
    margin-left: -18px;
    margin-top: 12px;
}

.btn:hover{
    cursor: pointer;
}

.whatapp {
    margin-top: 69px;
    margin-left: 1630px;
    flex-shrink: 0;
    position: fixed;
    z-index: 100;
}
.modaleWindow{
    position: fixed;
    top: 160px;
    // left: 75vh;
    transition: 2s;
    z-index: 99;
}