
.service{
    width: 1920px;
    background-color: #013d83;
    height: 1000px;

    &__block{
        width: 1730px;
        margin-left: 100px;
    }
}



.all__cards{

    display: flex;
    align-items: center;
    gap: 90px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 80px;



    &_card{
        // background: var(--blue, linear-gradient(119deg, #013D83 -10.14%, rgba(255, 255, 255, 0.00) 100%));
        width: 365px;
        height: 296px;
        border-radius: 20px;
        border: 1px solid #FFF;
        // background: linear-gradient(119deg,  #013D83 -10.14%,  rgb(92, 122, 187)  100%);
        background: linear-gradient(119deg, rgb(70 125 180), rgb(51, 91, 143) 100%)
    }

    &-text{
        width: 239.756px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 32.327px;
        padding-top: 10px;
        padding-left: 30px;
        font-weight: 700;
        line-height: normal;
        font-style: normal;
    }

    &-one{
        color: #FFF;
        width: 240px;
        font-family: Montserrat;
        font-size: 32px;
        padding-top: 30px;
        padding-left: 35px;
        font-weight: 700;
        line-height: normal;
        font-style: normal;
    }

    &-two{
        color: #FFF;
        font-family: Montserrat;
        font-size: 32.327px;
        font-weight: 700;
        padding-top: 15px;
        padding-left: 30px;
        line-height: normal;
        font-style: normal;
    }

    &-three{
        color: #FFF;
        font-family: Montserrat;
        font-size: 30.327px;
        font-weight: 700;
        padding-top: 40px;
        padding-left: 20px;
        line-height: normal;
        font-style: normal;
    }

    &-four{
        color: #FFF;
        font-family: Montserrat;
        font-size: 32.327px;
        font-style: normal;
        font-weight: 700;
        width: 245px;
        padding-top: 15px;
        padding-left: 30px;
        line-height: normal;
        font-style: normal;
        line-height: 39px;

    }

    &-five{
        color: #FFF;
        font-family: Montserrat;
        font-size: 32.327px;
        font-style: normal;
        font-weight: 700;
        padding-top: 15px;
        padding-left: 30px;
        line-height: normal;
        font-style: normal;
        line-height: 40px;
    }
}

.all--card-two{
    display: flex;
    gap: 90px;
   
}

.our{
    color: #FAA831;
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 700;
    text-align: center;


    &_price{
        color: #FFF;
        font-family: Montserrat;
        font-size: 26.939px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 80px;

        &-one{
            color: #FFF;
            font-family: Montserrat;
            font-size: 26.939px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 35px;
            padding-left: 30px;
            padding-bottom: 62px;
        }

        &-two{
            color: #FFF;
            font-family: Montserrat;
            font-size: 26.939px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 50px;
            padding-left: 40px;
            padding-bottom: 65px
        }

        &-three{
            color: #FFF;
            font-family: Montserrat;
            font-size: 26.939px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 40px;
            padding-left: 30px;
            padding-bottom: 51px;
        }

        &-four{
            color: #FFF;
            font-family: Montserrat;
            font-size: 26.939px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 45px;
            padding-left: 20px;
            padding-bottom: 45px;
        }

        &-five{
            color: #FFF;
            font-family: Montserrat;
            font-size: 26.939px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 20px;
            padding-left: 30px;
            padding-bottom: 45px;
        }

        &-six{
            color: #FFF;
            font-family: Montserrat;
            font-size: 26.939px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 25px;
            padding-left: 35px;
            padding-bottom: 41px;
        }
    }


}

.all__info{
    color: rgba(255, 255, 255, 0.60);
    font-family: Montserrat;
    font-size: 21.551px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px;
    position: absolute;

    
    
    &__image{
        padding-left: 10px;
        padding-top: 3px;
    }   


}

.img{
    position: absolute;
    padding-left: 200px;
    margin-top: -60px;

    &__one{
        position: absolute;
        padding-left: 210px;
        margin-top: -80px;
    }

    &__two{
        position: absolute;
        padding-left: 225px;
        margin-top: -115px;
    }

    &__three{
        position: absolute;
        padding-left: 235px;
        margin-top: -60px;
    }

    &__four{
        position: absolute;
        padding-left: 220px;
        margin-top: -115px;
    }

    &__five{
        position: absolute;
        padding-left: 225px;
        margin-top: -60px;
    }
}