.EmptyBlock {
  margin-top: 6%;
  background: url("../../../Assets/Artwork.png") center/cover no-repeat;
  width: 100%;
  height: 114vh;
  overflow: hidden;
  &--text {
    margin-left: 10%;
    margin-top: 7%;
    h2 {
      color: #000;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 646px;
    }
    p {
      color: #000;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1px;
      width: 646px;
      margin-top: 24px;
      margin-bottom: 112px;
    }
    button {
      display: flex;
      width: 303px;
      padding: 16px 32px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      border-radius: 8px;
      background: #013d83;
      color: #fff;
      text-align: center;
      font-feature-settings: "clig" off, "liga" off;

      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.48px;
      cursor: pointer;
    }
  }
}
#EmptyBlock {
  overflow: hidden;
}
