.EmptyBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
    background: url('@assets/artwork1920.png') center / cover no-repeat;
    @media screen and (max-width: 768px) {
        height: 1241px;
        background: url('@assets/artwork-mobile.png') bottom / contain no-repeat;
        justify-content: unset;
        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-top: 40%;
            justify-content: space-between;
        }
    }
    @media screen and (max-width: 450px) {
        background: url('@assets/artwork-mobile.png') bottom / cover no-repeat;
        height: 660px;
    }
    &__text {
        max-width: 760px;
        color: #000;
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        @media screen and (max-width: 768px) {
            font-weight: 600;
            color: #484848;
            max-width: unset;
            font-size: 40px;
        }
        @media screen and (max-width: 450px) {
            font-size: 20px;
            max-width: 370px;
        }
    }
    &__link {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        width: fit-content;
        padding: 16px 32px;
        color: #fff;
        width: 303px;
        letter-spacing: -0.5px;
        border-radius: 16px;
        background: #013d83;
        @media screen and (max-width: 768px) {
            margin-bottom: 60px;
            width: 100%;
            font-size: 24px;
            padding: 20px 0;
            max-width: unset;
        }
        @media screen and (max-width: 425px) {
            font-size: 20px;
            padding: 16px 0;
            margin-bottom: 30px;
        }
    }
}
