.cust_title {
    color:#013D83;
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;     
    text-align: center;  
    cursor: default;
}