* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #fff;
    overflow-x: hidden;
}
.routing--first__container {
    width: 100%;
    margin: 0 auto;
}
