#abonement {
  scroll-margin-top: 130px;
}
.abonement {
    margin-top: 112px;
    &--blocks {
      padding: 0 10px;
       margin-top: 20px; 
      margin-left: 9vh;
      display: flex;
      align-items: center;
      gap: 36px;
      overflow-x: scroll;
      width: 89%;
      height: 65vh;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  
    .blockTwo {
      display: flex;
      padding: 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 31px;
      height: 29.75rem;
      border-radius: 24px;
      border: 1px solid #000;
      &--term {
        h4 {
          color: #000;
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%;
        }
        p {
          color: #000;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
      h2 {
        color: #000;
        text-align: center;
        font-family: Montserrat;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
      }
      &--btn {
        display: flex;
        width: 432px;
        padding: 12px 24px;
        justify-content: center;
        gap: 8px;
        border-radius: 16px;
        border: 1px solid var(--Color-Black-1, #000);
        background: #013d83;
        color: var(--Text-alternate, #fff);
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        cursor: pointer;
      }
      &--linear {
        background: #fff;
        height: 1px;
        width: 100%;
      }
      &--possibilities {
        display: flex;
        flex-direction: column;
        gap: 16px;
        p {
          display: flex;
          align-items: center;
          color: #000;
          gap: 16px;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
    .blockXits {
      display: flex;
      padding: 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 31px;
      height: 29.75rem;
      border-radius: 1.05956rem;
border: 0.706px solid #FFF;
background: #013D83;
box-shadow: 0px 0px 17.659px 0px #013D83, 0px 0px 10.091px 0px #013D83, 0px 0px 5.886px 0px #013D83, 0px 0px 2.943px 0px #013D83, 0px 0px 0.841px 0px #013D83, 0px 0px 0.42px 0px #013D83;
    &--term {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__time {
        h4 {
          color: #fff;
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%;
        }
        p {
          color: #fff;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
      &__trend {
        display: flex;
        align-items: center;
        h6 {
          color: #faa831;
          text-align: center;
          text-shadow: 2px 2px 4px rgba(247, 181, 18, 0.35),
            -2px -2px 4px rgba(247, 181, 18, 0.35);
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%;
        }
      }
    }
    h2 {
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
    &--btn {
      border-radius: 16px;
      background: #faa831;
      display: flex;
      width: 432px;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: #fff;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      cursor: pointer;
    }
    &--linear {
      background: #fff;
      height: 1px;
      width: 100%;
    }
    &--possibilities {
      display: flex;
      flex-direction: column;
      gap: 16px;
      p {
        display: flex;
        align-items: center;
        color: #fff;
        gap: 16px;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
}
