#location{
  position: absolute;
  top: -70px;
  left: 0;
}

#location_block {
  position: relative;
  padding-top: 100px;
  margin-bottom: 100px;
    @media screen and (max-width: 1280px) {
      padding-top: 80px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 30px;
    }
}
.location {
  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    @media screen and (max-width: 1280px) {
      gap: 36px;
    }
    @media screen and (max-width: 768px) {
      gap: 20px;
    }
  }
  &Wrapper {
    display: flex;
    align-items: center;
    border-radius: 24px;
    height: 752px;
    width: 100%;
    background: #013D83;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      display: flex;
      height: unset;
      flex-direction: column;
      gap: 20px;
      background: transparent;
      color: #000000;
    }
  }
  &Content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 0 56px;
    @media screen and (max-width: 768px) {
      padding: 0;
      width: 100%;
      gap: 10px;
      margin-top: 5px;
      display: flex;
      align-items: flex-start;
    }
  }
  &Title {
    color: #FFF;;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: 0.88px;
    @media screen and (max-width: 1440px) {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.64px;
    }
    @media screen and (max-width: 768px) {
        color: #000000;
    }
    @media screen and (max-width: 425px) {
      font-size: 24px !important;
    }
  }
  &List {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &Item {
    display: flex;
    align-items: center;
    gap: 12px;
    line-height: 40px;
    a {
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; 
      @media screen and (max-width: 768px) {
        color: #000000;
      }
    }
    img{
      @media screen and (max-width: 768px) {
       filter: invert(100%);
      }
    }
  }
  &Map {
    height: 100%;
    width: 100%;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      border-radius: 15px;
      height: 350px;
    }
    
  }
}
.locationItem {
  font-size: 16px;
}
.locationItemap {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}

@media screen and (max-width: 1440px) {
  .location {
    .locationContainer {
      .locationWrapper {
        .locationContent {
          .locationTitle {
            font-size: 32px;
          }
        }
      }
    }
  }
  }

@media screen and (max-width: 768px) {
.location {
  .locationContainer {
    .locationWrapper {
      border-radius: 0;
      .locationContent {
        .locationTitle {
          font-size: 32px;
        }
        .locationItem {
          font-size: 18px;
          font-weight: 500;
        }
        .locationItemap {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
}
