@import '../../common/style.scss';

.coaches {
    background: $white;
    padding: 112px 0 60px 0;
}

.coaches__title {
    font-size: 80px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    color: $dark;
    text-align: center;
    margin-bottom: 30px;
}
.coaches__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    > button {
        margin-right: 35px;
    }
    > button:last-child {
        margin-right: 0;
    }
}

.coaches__button {
    height: 55px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    color: $white;
    padding: 8px 22px;
    border-radius: 16px;
    border: 2px solid $dark;
    background: $dark;
}
.active {
    color: $black;
    border: 2px solid $black;
    background: transparent;
}
//--------coaches-modal-classes---------
.coach-modal {
    max-width: 1186px;
    height: 497px;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
}

.coach-modal__image {
    width: 350px;
    height: 100%;
    object-fit: cover;
}

.info-block {
    width: auto;
    height: 100%;
    padding: 25px 60px;
    background-color: $dark;
    > div {
        max-width: 100%;
        color: $white;
        font-style: normal;
        line-height: normal;
    }
}
.info-block__top {
    padding-bottom: 36px;
    .info-block__top-name {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 28px;
    }
    .info-block__top-sertification {
        font-size: 22px;
        font-weight: 400;
    }
}

.info-block__bottom {
    height: 310px;
    overflow: auto;
    .info-block__bottom-description {
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
    }
}
