.btn {
    border-radius: 16px;
    font-size: 24px;
    padding: 16px 24px;
    &Primary {
        background-color: #013D83;
        color: #ffffff;
    }
    &Secondary {
        background-color: #FAA831;
        color: #000000;
    }
}