.btn {
    border-radius: 16px;
    font-size: 24px;
    padding: 16px 24px;
    &Primary {
        background-color: #013d83;
        color: #ffffff;
    }
    &Secondary {
        background-color: #faa831;
        color: #000000;
    }
}
