.error__container {
display: flex;
justify-content: center;
padding-top: 140px;
}
.error__content {
    width: 485px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: #000;
        font-size: 36px;
        font-weight: 500;
    }
    p {
        color: #000;
        font-size: 18px;
        font-weight: 600;
        margin-top: 18px;
    }
    button {
        display: flex;
        width: 227px;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: #013D83;
        color: #fff;
        margin-top: 80px;
    }
}

