#aboutUs {
    margin-top: 112px;
    @media screen and (max-width: 1280px) {
        margin-top: 80px;
    }
    @media screen and (max-width: 768px) {
        margin-top: 30px;
    }
}
.aboutUs {
    &Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 56px;
        @media screen and (max-width: 1280px) {
            gap: 36px;
        }
        @media screen and (max-width: 768px) {
            gap: 20px;
        }
    }
    button{
        width: unset;
        height: unset;
        margin: unset;
        padding: 17px 60px;
        @media screen and (max-width: 1280px) {
            font-size: 16px;
            padding: 15px 60px;
        }
    }
    &Image {
        width: 57%;
        align-self: stretch;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 10%;
            border-radius: 24px;
        }
    }
    &Content {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: 490px) {
            button {
                border-radius: 12px;
                padding: 13px 35px;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    &Wrapper {
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 2%;
    }
    &Title {
        color: #000;
        font-size: 40px;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 16px;
        @media screen and (max-width: 1280px) {
            font-size: 28px;
        }
        @media screen and (max-width: 768px) {
            font-size: 22px;
        }
    }
    &Description {
        color: #000;
        font-size: 26px;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 25px;
        @media screen and (max-width: 1280px) {
            font-size: 18px !important;
        }
        @media screen and (max-width: 490px) {
            margin-bottom: 5px;
        }
        
    }
}
@media screen and (max-width: 1440px) {
    .aboutUs {
        &Title {
            color: #000;
            font-size: 28px;
            font-weight: 500;
            line-height: 120%;
        }
        &Description {
            color: #000;
            font-size: 22px;
            font-weight: 400;
            line-height: 120%;
        }
    }
}
@media screen and (max-width: 768px) {
    .aboutUs {
        &Content {
            gap: 10px;
            width: 100%;
        }
        &Image{
            width: 100%;
        }
        &Title {
            font-size: 0;
        }
        &Description {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
        }
    }
}
